@using MaisonConnecteBlazor.Components.Base;
@using MaisonConnecteBlazor.Components.Includes;
@using MaisonConnecteBlazor.Components.Misc;

@inherits MaisonConnecteBase;

@page "/stats"

<MaisonConnecteHeader></MaisonConnecteHeader>

<MaisonConnecteTitle>Statistiques</MaisonConnecteTitle>

<MudContainer MaxWidth="MaxWidth.ExtraLarge" style="margin-top: 50px !important; text-align: center;">
    <MudPaper>
        <MudGrid Spacing="8" Justify="Justify.Center">
            <MudItem>
                <MudSelect T="string" Variant="Variant.Filled" Label="Évenement" @bind-Value="Event" AnchorOrigin="Origin.BottomCenter">
                    @foreach(KeyValuePair<string, string> maisonEvent in EventMap)
                    {
                        <MudSelectItem Value="@maisonEvent.Key">@maisonEvent.Value</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem>
                <MudDatePicker Label="Date de début" @bind-Date="StartDate"></MudDatePicker>
            </MudItem>
            <MudItem>
                <MudDatePicker Label="Date de fin" @bind-Date="EndDate"></MudDatePicker>
            </MudItem>
            <MudItem>
                <MudSelect T="string" Variant="Variant.Filled" Label="Unité de temps" @bind-Value="GraphTime" AnchorOrigin="Origin.BottomCenter">
                    @foreach (KeyValuePair<string, string> temps in TimeMap)
                    {
                        <MudSelectItem Value="@temps.Key">@temps.Value</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>

            <MudItem style="display: flex;">
                <MudButton Variant="Variant.Outlined" Color="Color.Info" @onclick="UpdateGraph">Mettre à jour</MudButton>
            </MudItem>
        </MudGrid>
    </MudPaper>

    <div style="margin-top: 60px;">
        @if (ChartData.Count > 0)
        {
            <MudChart ChartType="ChartType.Bar" ChartSeries="@ChartData" XAxisLabels="@GraphXAxis" Width="100%" Height="500px"></MudChart>
        }
    </div>
</MudContainer>